% diff cultris2.policy ~/git/c2-patch-aur/cultris2.policy
9,11c9,11
<     permission java.io.FilePermission "./libs/*", "read,write";
<     permission java.io.FilePermission "./settings/*", "read,write";
<     permission java.io.FilePermission "./settings/ruggu/*", "read,write";
---
>     permission java.io.FilePermission "/opt/cultris2/libs/*", "read,write";
>     permission java.io.FilePermission "/opt/cultris2/settings/*", "read,write";
>     permission java.io.FilePermission "/opt/cultris2/settings/ruggu/*", "read,write";