[Desktop Entry]
Name=Cultris II
Comment=Cultris II is one of the fastest Tetris®-clones ever! Train your reflexes in single-player challenges, enjoy split-screen matches with friends, or compete online with the best. Featuring team play in various modes, stunning graphics, and stylish music, Cultris II redefines the classic experience.
GenericName=Tetris Clone Game
Keywords=Tetris;Cultris;Cultris II;Multiplayer
Exec=/opt/cultris2/cultris2.sh
Icon=/opt/cultris2/cultris2-icon.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Game;
