[Desktop Entry]
Name=Cultris II Colorpicker
Comment=Pick the colors for Cultris2
GenericName=Tetris Clone Game
Keywords=Tetris;Cultris;Cultris II;Multiplayer
Exec=/opt/cultris2/cultris2-colorpicker.sh
Icon=
Terminal=false
StartupNotify=true
Type=Application
Categories=Game;
