[Desktop Entry]
Name=Cultris II Settings
Comment=Customise Cultris2 to match you preferences!
GenericName=Tetris Clone Game
Keywords=Tetris;Cultris;Cultris II;Multiplayer
Exec=/opt/cultris2/cultris2-settings.sh
Icon=/opt/cultris2/settings.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Game;
